* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.td-body{
  font-size: .9em;
  height: 10px;
}
.td-img{
  width: 250px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.td-button{
  display: flex;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
